<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Puzzle</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="/css/stylesheet.css" />
</head>
<body>

<div th:replace = "fragments::header"></div>

<h1>TicTacToe</h1>
<a href="/tictactoeNew">New Game</a>
<span th:if="${xPlaying}">X - turn</span>
<span th:unless="${xPlaying}">O - turn</span>

<div>State: <span th:text="${@tictactoeController.gameState}"></span></div>

<div th:utext="${@tictactoeController.getHTMLField()}"/>


<!-- Alternative using Thymeleaf -->
<!-- 
<table class="mines_field">
	<tr th:each="row : ${#numbers.sequence(0, field.rowCount-1)}">
		<td th:each="col : ${#numbers.sequence(0, field.columnCount-1)}">
			<a th:href='@{/mines(row=${row},column=${col})}'>
				<img th:src="@{/images/mines/{name}.png(name=${@minesController.getImageName(field.getTile(row,col))})}"/>
			</a>
		</td>
	</tr>
</table>
 -->
 
 <div th:replace="fragments::addcomment('tictactoe')"></div>
 <div th:replace="fragments::comment('tictactoe')"></div>
 <div th:replace="fragments::addrating('tictactoe')"></div>
 
<hr/>
</body>
</html>
